.code {
  margin-right: 24px;
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  div {
    img {
      margin-top: 16px;
    }
  }
}
@media screen and (max-width: 1149px) {
  .code {
    width: 35%;
  }
}
