.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  h2 {
    white-space: nowrap;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }
  .content {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 40px;
    width: 232px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    img {
      position: absolute;
      opacity: 0.2;
    }
    img:first-child {
      top: -20px;
      left: -15px;
    }
    img:last-child {
      z-index: -1;
      top: 30px;
      right: -15px;
      transform: rotate(180deg);
    }
  }
}
@media screen and (max-width: 1149px) {
  .quote {
    width: 35%;
  }
}
