.customInput {
  height: 24px;
  cursor: pointer;
  position: relative;
  border: none;
  background: rgba($color: #b3bac0, $alpha: 0);
  outline: none;
  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }
  &:focus {
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 0px 0px black;
  }
}
