.portfolio {
  width: 50%;
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .portfolioList {
    width: 260px;
    margin-left: 10px;
    margin-top: 24px;
    li {
      a {
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #3483cc;
        transition: all 0.3s ease-in-out;
      }
    }
    li:not(:last-child) {
      margin-bottom: 8px;
    }
    a:hover {
      color: #eb5757;
    }
  }
}

@media screen and (max-width: 1210px) {
  .portfolio {
    margin-right: 20px;
    width: 264px;
  }
}

@media screen and (max-width: 1149px) {
  .portfolio {
    margin-right: 47px;
    width: 35%;
  }
}
