.main {
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  margin-top: 56px;

  .mainTop {
    display: flex;
    justify-content: space-between;
    div {
      ul {
        li {
          list-style-type: "\2013";
          span,
          a {
            position: relative;
            left: 8px;
          }
        }
      }
    }
  }

  .leftWrapper {
    display: flex;
    width: 50%;
  }

  .rightWrapper {
    display: flex;
    width: 50%;
  }
}
.mainBottom {
  margin-top: 56px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;

  .quotes {
    width: 50%;
    position: relative;
    display: flex;
  }
  .map {
    width: 50%;
    img {
      width: 90%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1270px) {
  .main {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1149px) {
  .mainTop {
    flex-direction: column;
  }
  .rightWrapper {
    margin-top: 50px;
  }
  .leftWrapper {
    justify-content: space-between;
    width: 100% !important;
  }
  .rightWrapper {
    justify-content: space-between;
    width: 100% !important;
  }

  .mainBottom {
    flex-direction: column;
  }
  .quotes {
    justify-content: space-between;
    width: 100% !important;
  }
  .map {
    width: 100% !important;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 539px) {
  .leftWrapper {
    flex-direction: column;
  }
  .rightWrapper {
    flex-direction: column;
  }
  .quotes {
    flex-direction: column;
    div:last-child {
      margin-top: 50px;
    }
  }
}
