.main {
  display: flex;
  flex-direction: column;
  section {
    margin-left: 156px;
    margin-top: 56px;
  }
  .mainTop {
    display: flex;
    justify-content: space-between;
    .leftWrapper {
      display: flex;
      width: 50%;
    }
    .rightWrapper {
      display: flex;
      width: 50%;
    }
    div {
      ul {
        li {
          list-style-type: "\2013";
          span,
          a {
            position: relative;
            left: 8px;
          }
        }
      }
    }
  }
}
.mainBottom {
  display: flex;
  justify-content: space-between;
  div {
    width: 50%;
  }
  .quotes {
    position: relative;
    display: flex;
  }
}

@media screen and (max-width: 1210px) {
  .mainTop {
    flex-direction: column;
    .rightWrapper {
      margin-top: 50px;
    }
  }
  .mainBottom {
    flex-direction: column;
  }
  .quotes:first-child {
    width: 264px;
    div {
      margin-right: 155px;
    }
  }
  .map {
    margin-top: 100px;
  }
} ;
