.textWrap {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.customInput {
  border: none;
  max-width: 60px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  margin-left: 8px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3483cc;
  &:hover {
    border: none;
    background: none;
    color: #eb5757;
  }
  &:focus {
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 0px 0px black;
    &:hover {
      color: #3483cc;
    }
  }
}
.expInfo {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3483cc;
  border-bottom: 1px dashed #3483cc;
  &:hover {
    border: none;
    background: none;
    color: #eb5757;
  }
  &:focus {
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 0px 0px black;
    &:hover {
      color: #3483cc;
    }
  }
}
.wrapperError {
  display: flex;
  position: relative;
}
