.incorrectWrap {
  position: relative;
}
.incorrect {
  display: flex;
  z-index: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #eb5757;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  justify-content: center;
  align-items: center;
}
.incorrectIcon {
  display: flex;
  position: relative;
  z-index: 10;
  width: 7px;
  height: 7px;
  background: url("../../../assets/corrrect.svg") no-repeat center;
}

.incorrectInput {
  height: 24px;
  cursor: pointer;
  position: relative;
  border: none;
  background: rgba($color: #b3bac0, $alpha: 0);
  outline: none;
  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }
  &:focus {
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 0px 0px #eb5757;
  }
}
.errorText {
  display: flex;
  position: absolute;
  left: 25px;
  top: -1px;
  color: #ff0000;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
