.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: rgba($color: #b3bac0, $alpha: 0.2);
}
.info {
  display: flex;
  margin-left: 156px;
  margin-top: 35px;
  justify-content: space-between;
  .print {
    display: flex;
    white-space: nowrap;
    width: 135px;
    height: 24px;
    cursor: pointer;
    .printIcon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      filter: saturate(0) brightness(1.5);
      transition: filter 0.3s ease-in-out;
    }
    .printText {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #3483cc;
      transition: color 0.1s ease-in-out;
    }
    &:hover {
      .printText {
        color: #eb5757;
      }
      .printIcon {
        filter: saturate(1) brightness(1);
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .info {
    justify-content: initial;
  }
  .print {
    margin-left: 100px;
  }
}
