.skillList {
  display: flex;
  width: 500px;
  margin-top: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.addSkill {
  background-image: url("../../assets/plus.svg");
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  position: relative;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  background-color: #333333;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    background: #666666;
    background: #666666;
    background-image: url("../../assets/plus.svg");
    background-repeat: no-repeat;
    border: none;
    background-position: center;
  }
}

.customInput {
  display: flex;
  margin-top: 4px;
  height: 23px;

  input {
    cursor: pointer;
    position: relative;
    border: none;
    background: rgba($color: #b3bac0, $alpha: 0);
    outline: none;

    &:hover {
      background: rgba(0, 0, 0, 0.06);
    }
    
    &:focus {
      background: rgba(0, 0, 0, 0.06);
      box-shadow: 0px 1px 0px 0px black;
    }
  }
}

@media screen and (max-width: 539px) {
  .skillList {
    max-width: 300px;
  }
}
