.skill {
  display: inline-block;
  margin-top: 4px;
  max-width: 80px;
  height: 16px;
  background: #333333;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: #666666;
  }
}
