.correct {
  display: flex;
  z-index: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #33c127;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  justify-content: center;
  align-items: center;
}

.correctIcon {
  z-index: 10;
  width: 7px;
  height: 7px;
  background: url("../../../assets/corrrect.svg") no-repeat center;
}
