.experience {
  width: 50%;
  
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .experienceList {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 24px;
  
    li:not(first-child) {
      margin-top: 8px;
    }
  }
}
@media screen and (max-width: 1149px) {
  .experience {
    width: 35% !important;
  }
}

@media screen and (max-width: 539px) {
  .experience {
    margin-top: 50px;
  }
}
