.experience {
  width: 50%;

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .experienceList {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 24px;
    li {
      span {
        transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
        input {
          box-sizing: border-box;
          max-width: 55px;
          height: 20px;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #3483cc;
          &:hover {
            border: none;
            background: none;
            color: #eb5757;
          }
          &:focus {
            background: rgba(0, 0, 0, 0.06);
            color: black;
          }
        }
      }
      span:nth-child(1) {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
    li:not(first-child) {
      margin-top: 8px;
    }
  }
}
