@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  min-height: 100%;
  width: 100%;
  justify-content: center;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 800px;
}

.header {
  display: flex;
  width: 100%;
  height: 224px;
  justify-content: space-between;
  background: rgba($color: #b3bac0, $alpha: 0.2);
}
.info-avatar {
  display: flex;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  border: 4px solid white;
}
.info {
  display: flex;
  height: 168px;
  width: 1128px;
  margin-left: 156px;
  margin-top: 35px;
  justify-content: space-between;
  .info-wrap {
    display: flex;
  }
  .print {
    display: flex;
    white-space: nowrap;
    width: 135px;
    height: 24px;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      filter: saturate(0) brightness(1.5);
      transition: filter 0.3s ease-in-out;
    }
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #3483cc;
      transition: color 0.1s ease-in-out;
    }
    &:hover {
      span {
        color: #eb5757;
      }
      img {
        filter: saturate(1) brightness(1);
      }
    }
  }
}
.info-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 50px;
  ul {
    margin-top: 13px;
    li {
      display: flex;
      list-style-type: none;
      margin-bottom: 8px;
    }
    li:nth-child(1) {
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
    }
    li:nth-child(2),
    li:nth-child(3) {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    li:nth-child(3) {
      img {
        margin-right: 8px;
      }
    }
  }
  .skill-list {
    display: flex;
    width: 100%;
    margin-top: 8px;
    .skill {
      display: inline-block;
      max-width: 80px;
      background: #333333;
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      padding: 4px 8px;
      border-radius: 4px;
      margin-right: 8px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        background: #666666;
      }
    }
    .add-skill {
      position: relative;
      width: 24px;
      height: 24px;
      background: #333333;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: #666666;
      }
      img {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 192px;
  article {
    margin-left: 156px;
    margin-top: 56px;
  }
  .main-top {
    display: flex;
    width: 1128px;
    height: 192px;
    justify-content: space-between;
    .left-wrapper {
      display: flex;
      width: 50%;
    }
    .right-wrapper {
      display: flex;
      width: 50%;
    }
    div {
      h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
      }
      ul {
        li {
          list-style-type: "\2013";
          span {
            position: relative;
            left: 8px;
          }
        }
      }
    }
    .portfolio {
      width: 264px;
      margin-right: 18px;
      ul {
        margin-left: 10px;
        margin-top: 24px;
        li {
          span {
            cursor: pointer;
            max-width: 245px;
            height: 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #3483cc;
            transition: all 0.3s ease-in-out;
          }
        }
        li:not(:last-child) {
          margin-bottom: 8px;
        }
        span:hover {
          color: #eb5757;
        }
      }
    }
    .experience {
      ul {
        margin-left: 10px;
        margin-top: 24px;
        li {
          margin-bottom: 8px;
          span {
            transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
          }
          span:nth-child(1) {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
          }
          span:nth-child(2) {
            cursor: pointer;
            position: relative;
            margin-left: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #3483cc;
            border-bottom: 1px dashed rgba($color: #3483cc, $alpha: 1);
          }
          span:nth-child(2):hover {
            color: #eb5757;
            border-bottom: 1px dashed rgba($color: #3483cc, $alpha: 0);
          }
        }
      }
    }
    .code {
      margin-right: 24px;
      div {
        img {
          margin-top: 16px;
        }
      }
    }
    .more-info {
      position: relative;
      div {
        h2 {
          margin-bottom: 24px;
        }
      }
      div:not(last-child) {
        margin-bottom: 24px;
      }
      div:last-child {
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}
.main-bottom {
  display: flex;
  width: 1128px;
  height: 200px;
  justify-content: space-between;
  div {
    width: 50%;
  }
  .quotes {
    position: relative;
    display: flex;
    div {
      width: 50%;
    }
    .quote {
      position: relative;
      display: flex;
      flex-direction: column;
      h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
      }
      span {
        position: relative;
        z-index: 10;
        text-align: center;
        margin-top: 40px;
        width: 232px;
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        img {
          position: absolute;
          opacity: 0.2;
        }
        img:first-child {
          top: -20px;
          left: -15px;
        }
        img:last-child {
          z-index: -1;
          top: 30px;
          right: -15px;
          transform: rotate(180deg);
        }
      }
    }
  }
  .quote:last-child {
    span {
      img:last-child {
        top: 55px;
      }
    }
  }
}
